.container {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.degree {
    font-size: 5rem;
    margin: 0;
    font-weight: 300;
}

.climate {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}

.img {
    height: 40vh;
}

@media only screen and (max-width: 910px) {
    .container {
        width: 100%;
    }
    
    .img {
        height: 25vh;
    }

    .degree {
        font-size: 3rem;
        margin: 0;
        font-weight: 300;
    }
    
    .climate {
        font-size: 1.2rem;
        font-weight: 300;
        margin: 0;
    }
}
