@import "./variables";

.container {
    position: relative;
}

.form {
    background-color: #fff;
    border-radius: 3px;
    width: 400px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.input {
    color: $input-color;
    font-size: 1.2rem;
    width: 95%;
    border: none;
    &:focus {
        outline: 0;
    }
}

.button {
    border: none;
    background-color: transparent;
    height: 100%;
    padding: 5px 0;
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: scale(0.9);
    }
    &:focus {
        outline: 0;
    }
}

.icon {
    height: 100%;
    color: $search-button-icon;
}

.autocomplete {
    position: absolute;
    width: 100%;
    overflow: scroll;
    top: 103%;
}

.ul {
    margin: 0;
    padding: 0;
}

.li {
    color: #000;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid $autocomplete-border-color;
    border-top: none;
    padding: 5px 0px 5px 20px;
    &:hover {
        background-color: $autocomplete-hover-color;
        cursor: pointer;
    }
}
